* {
	box-sizing: border-box;
}
body {
	font-family: verdana;
	color: white;
	background-color: black;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 5%;
}
.close a {
  font-size: 45pt;
  text-decoration: none;
  color: white;
  display: block;
  text-align: right;
}